#firstInput {
    background-color:lime;
    height:50px;
    width:355px;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    border: solid;
    border-radius:2px;
    position:relative;
    top:5px;
    left:0%;
}

#opInput {
    background-color:lime;
    height:50px;
    width:355px;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    border: solid;
    border-radius:2px;
    position:relative;
    top:5px;
    left:0%;


}

#lastInput {
    background-color:lime;
    height:50px;
    width:355px;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    border: solid;
    border-radius:2px;
    position:relative;
    top:5px;
    left:0%;

} 

.number {
    background-color: navy;
    border: solid;
    color: lime;
    padding: 20px 25px;
    text-align: center;
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 4px;
    cursor: pointer;
    width: 10%;
}
#Eql {
    background-color: purple;
    border: solid;
    color: orange;
    padding: 20px 25px;
    text-align: center;
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 4px;
    cursor: pointer;
    width: 10%;
}

#Clr {
    background-color: red;
    border: solid;
    color: white;
    padding: 15px 60px;
    text-align: center;
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 4px;
    cursor: pointer;
    width: 10%;
}
.operator {
    background-color: gray;
    border: solid;
    color: yellow;
    padding: 20px 25px;
    text-align: center;
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 4px;
    cursor: pointer;
    width: 10%;
}