 #map-canvas1 {
            width: 770px;
            height: 481px;
            border: 1px solid black;
        }

#map-canvas2 {
            width: 770px;
            height: 481px;
            border: 1px solid black;
        }

#map-canvas3 {
            width: 770px;
            height: 481px;
            border: 1px solid black;
        }